# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/

# Environment variables
.env

# PyTorch / model artifacts
*.pth

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
